.todo-item {
    font-size: 1.25rem;
    font-style: italic;
    padding: 30px 10px;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
    border-radius: 8px;
}

.todo-item:hover {
    transform: scale(1.1);
}

h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

/*BUTTONS*/
.btn {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #f1356d;
}

.btn:hover {
    color: #810955;
}
.delete-btn {
    float: right;
    margin-left: 5px;
}
.edit-btn {
    float: right;
}
.status-btn {
    float: right;
    margin-right: 5px;
    font-size: 1rem;
}
.save-btn {
    float: right;
    font-size: 1rem;
    margin-left: 5px;
    font-weight: bolder;
}
.close-btn {
    float: right;
    font-size: 1rem;
    font-weight: bolder;
}
/*BUTTONS*/

/*STATUSES*/
.todo-undone {
    font-weight: bolder;
    text-decoration: none;

}
.todo-done {
    text-decoration: line-through;
}
/*STATUSES*/

/*EDIT MODE*/
.edit-mode {
    display: flex;
    justify-content: flex-start;
}
.edit-mode input {
    font-size: 1.25rem;
    font-style: italic;
    padding: 5px 10px;
    border: #ffffff;
    color: #495C83;
    font-weight: bold;
    width: 100%;
}

.edit-mode input:focus {
    background-color: #FFFFFF;
    outline: none !important;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 10px #719ECE;
}

